*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body{
    font-family: sans-serif;
    background-color: #c5c5c5;
}

.textarea, #copy-mocked-btn{
    font-family: inherit;
    font-size: inherit;
}

.outer-container{
    height: 100vh;
    padding: 2rem;
    text-align: center;
}

.main-heading{
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 500;
}

@media screen and (max-width: 500px){
    .outer-container{
        padding: 0.5rem 1rem;
    }

    .main-heading{
        font-size: 2.5rem;
    }
}

.inner-container{
    display: flex;
    gap: 1rem;
}

.to-mock-container, .mocked-container{
    width: 50%;
}

.mocked-container{
    display: flex;
    flex-direction: column;
}

.textarea{
    height: 300px;
    width: 100%;
    padding: 0.5rem 0.8rem;
    display: block;
    resize: none;
}


@media screen and (max-width: 770px){
    .main-heading{
        margin-bottom: 2rem;
    }

    .inner-container{
        flex-direction: column;
        align-items: center;
    }

    .to-mock-container, .mocked-container{
        width: 100%;
    }

    .textarea{
        height: 200px;
    }
}

#copy-mocked-btn{   
    padding: 0.5rem 1.4rem;
    margin-top: 1rem;
    display: inline-block;
    align-self: flex-end;
    cursor: pointer;
}